.sales-summary{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.sales-summary h2{
    margin-bottom:20px;
}

.summary-item{
    display:flex;
    justify-content:space-between;
    padding:15px 0;
    border-bottom:1px solid #eee;
}

.summary-item:last-child{
    border:none;
}

.summary-item strong{
    color:#2563EB;
}