.users{
    padding:10px;
    color:#E2E8F0;
}

.users h1{
    color:#ffffff;
    font-size:42px;
    font-weight:700;
    margin-bottom:20px;
}

/* SEARCH */

.search{

    width:280px;

    padding:12px 16px;

    border:none;

    outline:none;

    border-radius:12px;

    background:rgba(255,255,255,.08);

    color:white;

    border:1px solid rgba(255,255,255,.08);

    margin-bottom:20px;

}

.search::placeholder{

    color:#94A3B8;

}

/* TABLE */

table{

    width:100%;

    border-collapse:collapse;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(12px);

    border-radius:16px;

    overflow:hidden;

    border:1px solid rgba(255,255,255,.08);

}

/* HEADER */

th{

    background:rgba(99,102,241,.18);

    color:white;

    padding:16px;

    text-align:left;

    font-weight:600;

}

/* BODY */

td{

    padding:16px;

    color:#CBD5E1;

    border-bottom:1px solid rgba(255,255,255,.08);

}

tr{

    transition:.3s;

}

tbody tr:hover{

    background:rgba(99,102,241,.08);

}

/* DELETE BUTTON */

.delete-btn{

    background:#EF4444;

    color:white;

    border:none;

    padding:8px 14px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

}

.delete-btn:hover{

    background:#DC2626;

    transform:translateY(-2px);

}